extend ../layout/common
block content
    h1 User
    form(action="/users/search", method="get")
        input(type="text" name="q")
        button Search
    ul
        each user in users
            li= user.name